.prevision {
    text-align: center;
    padding: 15px;
    padding-top: 10px;

    &-titre {
        margin-bottom: 5px;
    }

    &-valeur {
        font-weight: bold;
        font-size: 30px;
        line-height: 1.15;

        .unite {
            font-size: 14px;
            font-weight: 100;
        }
    }
}