<div data-role="appbar" data-expand-point="md">
    <a routerLink="dashboard" routerLinkActive="active" class="brand">Bet Muanza</a>

    <ul class="app-bar-menu">
        <li><a routerLink="equipe" routerLinkActive="active">Equipes</a></li>
        <li><a routerLink="competition" routerLinkActive="active">Compétitions</a></li>
        <li><a routerLink="statistique" routerLinkActive="active">Statistiques</a></li>
        <li><a routerLink="previsions" routerLinkActive="active">Prévisions</a></li>
        <li>
            <a class="dropdown-toggle">Données de base</a>
            <ul class="d-menu" data-role="dropdown">
                <li><a routerLink="equipe" routerLinkActive="active">Equipes</a></li>
                <li><a routerLink="joueur" routerLinkActive="active">Joueurs</a></li>
                <li class="divider bg-lightGray"></li>
                <li><a routerLink="saison" routerLinkActive="active">Saisons</a></li>
                <li><a routerLink="championnat" routerLinkActive="active">Championnats</a></li>
            </ul>
        </li>
    </ul>
</div>